@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --preto-fundo: #00030C;
    --cor-efeito: #88beff;
    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--preto-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    margin-top: 3em;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__conteudo {
    margin: 0 6em;

} 

.container__botao {
    background-color: var(--azul-botao);
    text-decoration: none;
    color: var(--branco-principal);
    padding: 1rem;
    border-radius: 5px;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario {
    border: 1px solid var(--branco-principal);
    background-color: transparent;
}

.container__botao:hover {
    background-color: var(--cor-efeito);
    color: var(--preto-fundo);
}
.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.container__imagem {
    margin: 1em 0em 2em 0em;
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.secundario__imagem {
    width: 80%;
    margin-bottom: 1em;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
    color: var (--branco-principal);
}

.descricao__paragrafo {
    color: var(--cinza-secundario);
    margin-bottom: 1em;
}

.secundario_botao {
    display:inline-block;
    margin: 1em 0 1em 0;
    padding: 1rem 4em;
}

.imagem_telas {
    margin-left: 5em;
}

.container__dispositivos {
    text-align: center;
    margin: 0 15em;
}

.dispositivos__titulo { 
    margin-bottom: 1em;
}

.dispositivos__lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

.dispositivos__eletronico {
    font-size: 2rem;
    font-weight: 700;
    color: var(--branco-principal);
}

.container__footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__lista {
    display: flex;
    justify-content:center;
    list-style-type: none;
    gap: 1em;
    padding: 1rem;
    font-size: 1rem;
    color: var(--cinza-secundario);
}

.footer__item {
   text-decoration: none;
   color: var(--branco-principal);
} 

.footer__texto {
    color: var(--cinza-secundario);
    font-size: 0.85rem;
    padding-bottom: 1rem;
    margin: 0 4rem 0 4rem;
}

.footer__item:hover {
    color: var(--azul-botao);
    transition: 0.2s;
}

.footer__item:active {
    color: var(--cor-efeito);
}


@media screen and (max-width: 768px) {
    .container {
        display: block;
        height: 85vh;
    }

    .principal {
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__conteudo {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0em 2em;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .descricao__paragrafo {
        margin-top: 1em;
    }

    .imagem_telas {
        margin: 1em 0 0 0;
    }

    .container__dispositivos {
        margin: 1em 1em;
    }

    .dispositivos__lista {
        display: flex;
        flex-direction: column;
    }

    .container__footer {
        margin: 1em 1em;
    }
    
    .footer__lista {
        display: flex;
        flex-direction: column;
    }



}